body {
    background-color: #000;
}

.formo {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
form{
    border:solid #fff 1px;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
    width: 600px;
    background-color: #333333;
    border-radius: 12px;
}
h2 {
    color: #fff;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    color: #fff;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    border-radius: 12px;
    padding: 10px;
}

#entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    padding: 12px;
    margin: auto;
    margin-top: 11px;
}
#entrar:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
p {
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: #fff;
}